<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <variable name="logRoot" value="${basedir}/log" />
  <targets>
	  <!--${currentdir:cached=true}-->
	  <target name="asyncFile" xsi:type="AsyncWrapper">  
		  <target name="error" xsi:type="File"
			   layout="${longdate}|${message}"
			   fileName="${logRoot}/error.log"
			   archiveFileName="${logRoot}/error/error_${date:format=yyyyMMdd}_{#####}.log"
			   archiveAboveSize="10000000"
			   archiveNumbering="Sequence"
			   maxArchiveFiles="1000"
			   concurrentWrites="false" />
		  <target name="info" xsi:type="File"
                layout="${longdate}|${message}"
                fileName="${logRoot}/info.log"
                archiveFileName="${logRoot}/info/info_${date:format=yyyyMMdd}_{#####}.log"
                archiveAboveSize="10000000"
                archiveNumbering="Sequence"
                maxArchiveFiles="1000"
                concurrentWrites="false" />
		  <target name="debug" xsi:type="File"
				layout="${longdate}|${message}"
				fileName="${logRoot}/debug.log"
				archiveFileName="${logRoot}/debug/debug_${date:format=yyyyMMdd}_{#####}.log"
				archiveAboveSize="10000000"
				archiveNumbering="Sequence"
				maxArchiveFiles="1000"
				concurrentWrites="false" />
	  </target>
  </targets>
  <rules>
	<logger name="*" level="Debug" writeTo="debug" />
	<logger name="*" level="Info" writeTo="info"/> 
    <logger name="*" level="Error" writeTo="error" /> 
  </rules>
</nlog>
